# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Python artifacts
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# Git artifacts
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
**/Dockerfile

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
